.clear-button {
    position: absolute;
    left: 40%;
    border: solid 2px black;
    border-radius: 2px;
    background-color: red;
    color: honeydew;
    width: 120px;
    height: 25px;
    text-align: center;
    cursor: pointer;
}